@using ShaverToolsShop.ViewModels
@model ShaverToolsShop.ViewModels.CalendarViewModel

@{
    var selectedMonth = Model.SelectedMonth;
    var prevMonth = selectedMonth.AddMonths(-1);
    var nextMonth = selectedMonth.AddMonths(1);
}
<div class="row">

    <h3 class="calendar">
        <a href="@Url.Action("Index", "Calendar", new {selectedDate = prevMonth})">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        @Model.SelectedMonth.ToString("MMMM yyyy")
        <a href="@Url.Action("Index", "Calendar", new {selectedDate = nextMonth})">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </h3>

    <table class="calendar">
        <thead>
            <tr>
                <td>пн</td>
                <td>вт</td>
                <td>ср</td>
                <td>чт</td>
                <td>пт</td>
                <td>сб</td>
                <td>вс</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var week in Model.WeeksData)
            {
                <tr>
                    @foreach (var day in week)
                    {
                        if (day.Day == null)
                        {
                            <td class="non-date" />
                        }
                        else
                        {
                            <td>
                                <div class="text-left calendar-date">@day.Day </div>
                                <div class="calendar-product">@day.ProductName </div>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>