@using ShaverToolsShop.Conventions.Enums
@using ShaverToolsShop.Conventions.Extensions
@model ShaverToolsShop.Entities.Subscription

@using (Html.BeginForm("SaveEditedSubscription", "Subscription", FormMethod.Post))
{
    <tr>
        <td>
        @Html.LabelFor(m => m.ProductId)
        @Html.DropDownListFor(m => m.ProductId, Model.ProductsList)
        <td>
            @Html.Label(SubscriptionType.OnceInMonth.GetDisplayValue())
            @Html.RadioButtonFor(m => m.SubscriptionType, SubscriptionType.OnceInMonth,
                new {@checked = true, id = "editSubscriptionType_onceInMonth"})

        </td>
        <td>
            @Html.Label(SubscriptionType.TwiceInMonth.GetDisplayValue())
            @Html.RadioButtonFor(m => m.SubscriptionType, SubscriptionType.TwiceInMonth,
                new {id = "editSubscriptionType_twiceInMonth"})
        </td>
        <td>
            @Html.Label(SubscriptionType.OnceInTwoMonths.GetDisplayValue())
            @Html.RadioButtonFor(m => m.SubscriptionType, SubscriptionType.OnceInTwoMonths,
                new {id = "editSubscriptionType_onceInTwoMonths"})
        </td>
        <td>
            <label>Первая  дата доставки</label>

            @Html.DropDownListFor(m => m.FirstDeliveryDay, Model.DaysInMonthList, new {id= "editFirstDeliveryDay" })
        </td>
        <td id="editSecondDeliveryDay" class="hidden">
            
            <label>Вторая  дата доставки</label>

                @Html.DropDownListFor(m => m.SecondDeliveryDay, Model.DaysInMonthList)
        </td>
        <td>
            <input type="submit" value="Сохранить" id="Submit" class="btn btn-default"/>
        </td>
        @Html.HiddenFor(x => x.Id)
    </tr>
}


